@mixin gradientButton {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: $black;
    background: linear-gradient(to right, $gradient-dark, $gradient-light);
    padding: 14px 35px;
    border: none;
    outline: none;
    border-radius: 40px;
}

@mixin hovering {
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;

    &:hover {
        opacity: 0.8;
    }
}


@mixin mediaDesk {
    @media screen and (max-width: 1291px) {
        @content;
    }
}